.searchBar {
  width: 100%;
  max-width: 1000px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar .searchBox input {
  text-align: center;
  background-color: #fafafa;
  border: 1px solid black;
  height: 25px;
}

.searchBar .navIcons {
  max-width: 150px;
  width: 100%;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}
